<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 ">
      <div class="card shadow-lg" style="max-width: 700px; margin: auto;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://images.pexels.com/photos/5077045/pexels-photo-5077045.jpeg" 
                 class="card-img-top" 
                 alt="Product Image" 
                 style="object-fit: cover; height: 100%; width: 100%; border-radius: 10px;">
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">جهاز Apple MacBook Pro</h5>
              <p class="card-text">السعر: 5000 ريال سعودي</p>

              <label for="coupon">هل لديك كوبون؟ يرجى إدخاله لتحصل على الخصم</label>
              <input type="text" id="coupon" class="form-control" [(ngModel)]="couponcode">
              <button class="btn btn-success mt-2 w-100" (click)="checkcoupons()">تطبيق الخصم</button>

              <ng-template #invalidcoupons>
                <div class="alert alert-danger mt-2 text-center">الكوبون غير صحيح أو منتهي الصلاحية</div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 ">
      <div *ngIf="iscouponvalid; else invalidcoupons">
        <h3 class="alert alert-success text-center">تم تطبيق الخصم بنجاح! السعر بعد الخصم هو: 4850 ريال سعودي</h3>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col">
    <ul class="list-group">
      <li *ngFor="let item of array" class="list-group-item">{{ item }}</li>
    </ul>
  </div>
</div>
